@use "sass:map";
@use 'tokens';
@use 'placeholder' as *;

* { box-sizing: border-box; }
html { font-size: 100%; }
body { margin: 0; font-family: tokens.$font-stack; line-height: 1.6; }
h1, h2, h3 { margin: 0 0 .5rem 0; }
p { margin: 0 0 1rem 0; }

:where(a,button,input,select,textarea):focus-visible { @extend %focus-ring; }

.skip-link {
  position: fixed; left: -9999px; top: auto;
  &:focus {
    left: .75rem; top: .75rem;
    background: map.get(tokens.$ns, background); /* vervangt map-get() */
    padding: .5rem 1rem;
    border: 1px solid #000;
    border-radius: .5rem;
    z-index: 1000;
  }
}